<body class="gray-bg">

	<div class="middle-box text-center loginscreen   animated fadeInDown">
		<div>
			<div>

				<h1 class="logo-name">DE+</h1>

			</div>
			<h3>Register to DE+</h3>
			<p>Create account to see it in action.</p>
			<form class="m-t" role="form" name="registerfrm" ng-controller="DashboardCtrl">
				<div class="form-group">
					<input type="text" class="form-control" id="name" ng-model="name" placeholder="Name" required="">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" id="email" ng-model="email" placeholder="Email" required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name"password" id="password" ng-model="password" placeholder="Password" required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name"confirm_password" id="confirm_password" ng-model="confirm_password" placeholder="Confirm Password" required="">
				</div>
				<div class="form-group">
						<div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b" ng-click="register()" >Register</button>

				<p class="text-muted text-center"><small>Already have an account?</small></p>
				<a ui-sref="login" class="btn btn-sm btn-white btn-block" >Login</a>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
		function validatePassword(){
			if(password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords Don't Match");
			}
			else {
				confirm_password.setCustomValidity('');
			}
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
	</script>
	
	<script>
		$(document).ready(function(){
	 		$('.i-checks').iCheck({
	 			checkboxClass: 'icheckbox_square-green',
	 			radioClass: 'iradio_square-green',
	 		});
	 	});
	</script>
