<div class="well" ng-controller="spotCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-4">  
			          
				<div class="thumbnail">
					<div class="circleleft">R</div>
				<img src="http://dummyimage.com/200 X 150/878787/0e0e14&text=Table+1">
					<div class="caption">
					<p class="text-center">TABLE 1</p>
				</div>
			</div>
		  </div>
		  
		<div class="row">
			<div class="col-md-4">            
				<div class="thumbnail">
				<img src="http://dummyimage.com/200 X 150/878787/0e0e14&text=Table+2">
					<div class="caption">
					<p class="text-center">TABLE 2</p>
				</div>
			</div>
		  </div>

		<div class="row">
			<div class="col-md-4">            
				<div class="thumbnail">
				<img src="http://dummyimage.com/200 X 150/878787/0e0e14&text=Table+3">
					<div class="caption">
					<p class="text-center">TABLE 3</p>
				</div>
			</div>
		 </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">            
				<div class="thumbnail">
				<img src="http://dummyimage.com/200 X 150/878787/0e0e14&text=Table+4">
					<div class="caption">
					<p class="text-center">TABLE 4</p>
				</div>
			</div>
		  </div>
		  
		<div class="row">
			<div class="col-md-4">            
				<div class="thumbnail">
				<img src="http://dummyimage.com/200 X 150/878787/0e0e14&text=Table+5">
					<div class="caption">
					<p class="text-center">TABLE 5</p>
				</div>
			</div>
		  </div>

		<div class="row">
			<div class="col-md-4">            
				<div class="thumbnail">
				<img src="http://dummyimage.com/200 X 150/878787/0e0e14&text=Table+6">
					<div class="caption">
					<p class="text-center">TABLE 6</p>
				</div>
			</div>
		 </div>
	</div>
  
</div><!-- /.container --></div>
